<h2>Input bug repro</h2>

<div class="list">
  <input
    #customName
    type="text"
  />

  <input
    #customAddress
    type="text"
  />

  <input
    #phone
    type="text"
  />

  <button (click)="updateValues(customName.value, customAddress.value, phone.value)">Update</button>
</div>

<h3> Data in root components</h3>
<p>
  name : {{info.name}} <br />
  address : {{info.address}} <br />
  phone : {{info.phone}}
</p>

<h3>Child components with input</h3>

<div class="list">
  <app-child [name]="info.name" />
  <app-child [name]="info.name" />
</div>